<div class="main row justify-content-around pt-5">
<!-- ACHAT commentaire -->
<div class="card mb-3 p-4" style="width:650px;">
     
    <H2>Avis  CDG</H2>
   
    
    <p>rubrique budgetaire *</p>
        <select  [(ngModel)]="this.demande.id_rubrique">
            <option *ngFor="let item of this.rubriques" [value]="item.id"> {{item.designation}} </option>
        </select>

        <p>sous rubrique</p>
        <input type="text" [(ngModel)]="this.demande.motif">

        
        <p>Montant Budget Mensuel KMGA</p>
        <input type="number" step="any" [(ngModel)]="this.demande.motif">
        
        <p>Montant engagé KMGA </p>
        <input type="number" step="any" [(ngModel)]="this.demande.motif">


        <p>Reliquat KMGA </p>
        <input type="number" step="any">


        <input (click)="setComsAchat()" type="submit" value="Validez">


</div>

    <!-- ACHAT commentaire -->
    <div class="card mb-3 p-4" style="width:650px;">
     
            <p>Commentaire ACHAT</p>
            <input type="text" [(ngModel)]="this.commentairesAch">
            <input (click)="setComsAchat()" type="submit" value="Validez">

        
    </div>


    <div class="card mb-3 p-4" style="width:650px;">
            <h2>Liste des brouillons</h2>
            <ul class="list-group">
            <li *ngFor="let title of titresBr" class="list-group-item">
                <p style="color: darkgoldenrod;" (click)="showDetailsBr(title)">{{ title }}</p>
                <div class="dropdown-details" *ngIf="selectedTitleBr === title">
                <ul class="list-unstyled">
                    <li *ngFor="let item of brouillons | filterByTitle:title">
                        <hr>
                    {{ item.motif }} - {{ item.montant_ht | currency:'EUR' }}
                    </li>
                </ul>
                </div>
            </li>
            </ul>

            <h2>Liste des actives</h2>
            <ul class="list-group">
            <li *ngFor="let title of titresAct" class="list-group-item">
                <p style="color: darkgoldenrod;" (click)="showDetailsAct(title)">{{ title }}</p>
                <div class="dropdown-details" *ngIf="selectedTitleAct === title">
                <ul class="list-unstyled">
                    <li *ngFor="let item of active_dmds | filterByTitle:title">
                        <hr>
                    {{ item.motif }} - {{ item.montant_ht | currency:'EUR' }}
                    </li>
                </ul>
                </div>
            </li>
            </ul>  
    </div>
    <div class="card mb-3 p-4" style="width:650px;">
        
        <h1>prescripteur </h1>
        
                <p>trigramme:</p>
                <p>regularisation *</p>
                    <input type="checkbox" [(ngModel)]="this.demande.is_regularisation">
                    
                <p>type reference</p>
                <select  [(ngModel)]="this.demande.id_reference">
                    <option *ngFor="let item of this.refences" [value]="item.id"> {{item.designation}} </option>
                </select>
                

                <p>reference</p>
                    <input type="text" [(ngModel)]="this.demande.nom_reference">
 

                <p>titre</p>
                    <!-- raha efa misy -->
                    <select >
                        <option value=""></option>
                    </select>
                    <!-- raha mbola TSY misy -->
                    <input type="text" >
                
                <P>motif besoin *</P>
                    <input type="text" [(ngModel)]="this.demande.motif">
                
                <p>fournisseur</p>
                   
                    <select  [(ngModel)]="this.demande.id_fournisseur">
                        <option *ngFor="let item of this.fournisseurs" [value]="item.id"> {{item.nom}} </option>
                    </select>

                <p>devise *</p>
                <select  [(ngModel)]="this.demande.id_devise">
                    <option *ngFor="let item of this.devises" [value]="item.id"> {{item.designation}} </option>
                </select>

                <p>montant HT *</p>
                    <input type="number" step="any" [(ngModel)]="this.demande.montant_ht">
                
                <p>commentaire</p>
                    <input type="text"  [(ngModel)]="this.demande.coms_prescripteur">

                
                <p>periode prestation</p>
                   
                    <select [(ngModel)]="this.demande.id_periode">
                        <option *ngFor="let item of this.periodes" [value]="item.id"> {{item.designation}} </option>
                    </select>

                

                <p>direction: </p>   
                
                <p>service</p>
                    <select name="" id="">
                        <option value=""></option>
                    </select>

                <p>montant mga</p>
                <input (click)="creerDemande()" type="submit" value="Validez">
       
    </div>
</div>