$container-max-widths: (
  xs: 312px,
  sm: 468px,
  md: 744px,
  lg: 960px,
  xl: 1200px,
  xxl: 1320px
);

// Boosted mod
$container-fluid-margin: (
  xs: 4px,
  sm: 6px,
  md: 12px,
  lg: 32px,
  xl: 40px,
  xxl: 60px
);
// End mod